.top-section {
    background-color: #9daafb;
}

.header-section {
    background-color: #c4cefe;
}

.logo-img {
    max-height: 45px;
}

.categories-section {
    background-color: #bebebe;
}

.treatments-section {
    background-color: #d8d8d8;
}

.footer-section {
    background-color: #e6e6e6;
}

.section-title {
    max-width: 500px;
    margin: 0 auto;
}

.btn-light {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.btn-light:hover {
    background-color: #e2e6ea;
}